/* TODO - DOWNLOAD THE FONT AND IMPORT IT  */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
  background-color: rgb(31, 31, 31);
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #1f1f1f;
}

.btn-container {
  /* put all in one line */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: #1f1f1f00;
  color: #309ac4;
  border: 1px solid #309ac4;
  border-radius: 1px;
  padding: 10px 20px;
  font-size: 1em;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em;
}

.btn:active {
  transform: translateY(0.25em);
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: rgb(48, 154, 196);
  margin-bottom: 25px;
  font-weight: 400;
}

.description {
  font-size: 14px;
  color: #fff;
}